In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import log_loss
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import VotingClassifier

In [2]:
df = pd.read_csv("titanic.csv")

In [3]:
df = df.drop(["Name","Age","SibSp","Ticket","Cabin","Parch","Embarked"],axis = 1)

In [4]:
df['Sex'] = df['Sex'].astype('category').cat.codes

In [5]:
df.describe()

       PassengerId    Survived      Pclass         Sex        Fare
count   891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642    0.647587   32.204208
std     257.353842    0.486592    0.836071    0.477990   49.693429
min       1.000000    0.000000    1.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000    1.000000   14.454200
75%     668.500000    1.000000    3.000000    1.000000   31.000000
max     891.000000    1.000000    3.000000    1.000000  512.329200

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    int8
 4   Fare         891 non-null    float64
dtypes: float64(1), int64(3), int8(1)
memory usage: 28.8 KB

In [7]:
df.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Fare           0
dtype: int64

In [8]:
X = df.drop(["Survived"],axis = 1)
Y = df['Survived']

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=1)

In [10]:
X_train.shape

(623, 4)

In [11]:
model_1 = LogisticRegression()
model_2 = RandomForestClassifier()
model_3 = DecisionTreeClassifier()

In [12]:
final_model = VotingClassifier(
    estimators=[('lr', model_1), ('rf', model_2), ('dt', model_3)], voting='hard')
 
final_model.fit(X_train, y_train)
 
pred_final = final_model.predict(X_test)
 
print(log_loss(y_test, pred_final))

7.666000907386858